.menu {
    background-color: lightcoral;
    padding-bottom: 1vh;
}
.body {
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    margin: 0, 0, 0, 0;
}
.game-area {
    position: absolute;
    z-index: -5;
    height: 90%;
    width: 100%;
    background-position: center;
    background-image: url('assets/DiscoFloor2.jpg');
    border: 5px solid lightcoral;
    background-color: lightblue;
}

.game-area > p {
    position: relative;
    z-index: 2;
    height: 110px;
    font-family: Tahoma;
    font-size: 50px;
    color: lightcoral;
    text-align: center;
    background-color: rgb(252, 239, 181);
}

.disco-dude {
    position: relative;
    z-index: -1;
    margin: auto;
    top: 10vh;
    left: 10px;
}

@media only screen and (max-width: 750px) {
    .disco-dude {height: 60%; top:20vh}
} 

#scoreCard, #highScore {
    font-size: 5vh;
    font-family: Impact; 
    color: lightskyblue; 
}

#tip {
    position: fixed;
    z-index: 2;
    margin: auto;
    height: auto;
    width: 100%;
    font-size: 4vw;
    padding-bottom: 1vh;
}

#lives {
    font-size: 5vh;
    font-family: Impact; 
    color: lightgoldenrodyellow;
}

@media only screen and (max-width: 750px) {
    #scoreCard, #highScore, #lives {font-size: 4.5vw;}
} 

.pause-button, .controls{
    font-size: 3vw;
    height: 8vh;
    width: 15vw;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    border-color: lightskyblue;
    color: lightskyblue;
    font-family: impact;
}
@media only screen and (max-width: 450px) {
    .controls .pause-button {height: 0vw;}
}

.score {
    margin-top: 0px;
    color: lightskyblue;
}

.start {
    position: relative;
    z-index: 10;
    top: 10%;
    margin: auto;
    font-size: 6vh;
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    font-family: Impact;
    text-align: center;
    color: lightskyblue;
    background-color: rgb(252, 239, 181);
    border-color: lightcoral;
    display: flex;
}

h2 {
    margin: auto;
    font-size: 6vh;
    font-family: Impact;
    text-align: center;
    color: lightskyblue;
}
@media only screen and (max-width: 450px) {
    .start { 
    width: 20vw;
    font-size: 3vh;
    }
    h2 {
        font-size: 5vw;
    }
}

.bonus, .slow, .bomb, .target  {
    position: absolute;
    height: 60px;
    width: 60px;
}
