.game-area {
    position: absolute;
    height: 400px;
    width: 400px;
    border: 1px solid #000;
    background-color: lightblue;
}

.game-area > button {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: lightcoral;
    border-radius: 50%;
}
