.menu {
    background-color: lightcoral;
    padding-bottom: 1vh;
}
.body {
    height: 100vh;
    width: q00vw;
    margin: 0, 0, 0, 0;
}
.game-area {
    position: relative;
    height: 90%;
    width: 100%;
    background-position: center;
    background-image: url('assets/DiscoFloor2.jpg');
    border: 5px solid lightcoral;
    background-color: lightblue;
}

.game-area > p {
    height: 110px;
    font-family: Tahoma;
    font-size: 50px;
    color: lightcoral;
    text-align: center;
    background-color: rgb(252, 239, 181);
}

.disco-dude {
    transform-origin: center;
    top: 25vh;
    left: 35vw;
    position: absolute;
}
@media only screen and (max-width: 750px) {
    .disco-dude {height: 50vh;}
} 
@media only screen and (min-width: 1000px) {
    .disco-dude {left: 36vw;}
}

#scoreCard, #highScore {
    font-size: 5vh;
    font-family: Impact; 
    color: lightskyblue; 
}

#lives {
    font-size: 5vh;
    font-family: Impact; 
    color: lightgoldenrodyellow;
}

@media only screen and (max-width: 750px) {
    #scoreCard, #highScore, #lives {font-size: 4.5vw;}
} 

.pause-button, .controls {
    font-size: 3vw;
    height: 8vh;
    width: 15vw;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    border-color: lightskyblue;
    color: lightskyblue;
    font-family: impact;
}

.score {
    margin-top: 0px;
    color: lightskyblue;
}

.start {
    font-size: 6vh;
    height: 10vh;
    width: 20vw;
    top: 45vh;
    left: 42vw;
    border-radius: 10px;
    position: absolute;
    font-family: Impact;
    text-align: center;
    color: lightskyblue;
    background-color: rgb(252, 239, 181);
    border-color: lightcoral;
}

.bonus, .slow, .bomb, .target  {
    position: absolute;
    height: 60px;
    width: 60px;
}
